<section class="signup-form">
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [formGroup]="loginForm"
    >
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
        />
        <mat-error>Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Mot de passe"
          formControlName="password"
        />
        <mat-error>Missing password.</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="authService.auth.loginWithRedirect()"
      >
        Authentification
      </button>
      <button
      mat-raised-button
      color="accent"
      routerLink=""
    >
    Entrez sans authentification
    </button>
    </form>
  </section>